body{
    background: #111;
    color: white;
    font-size: 28px;
    padding-left: 15px;
}

body div{
    border: 4px dotted rgb(80, 80, 80);
    margin: 10px;
    padding: 5px;
}

.definition{
    border-left: 3px solid rgb(87, 173, 1);
    font-family:  Georgia, 'Times New Roman', Times, serif;
    color:rgb(255, 187, 0);
    padding-left: 5px;
}

h1{
    font-family: Geneva, Arial, Helvetica, sans-serif;;
}
h3{
    background: #222;
    margin: 0px;
    padding: 5px;
}
h3 span{
   border: 1px solid white;
   padding: 5px;
}
canvas{border:1px solid gray}